<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jmago17.trmnl.month-overview</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/josu/Library/Application Support/trmnl/run-trmnl-command.sh</string>
		<string>month-overview</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/trmnl-month-overview.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/trmnl-month-overview.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>2</integer>
		<key>Minute</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
